<div class="modal-header">
	<div class="modal-title">{{user.first_name}} {{user.last_name}}</div>
</div>
<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<form class="css-form" ng-submit="ok()">
	<div class="modal-body">
		<div>
			<div>First Name:</div><input ng-model="user.first_name" type="text" name="fname" maxlength="50" required>
		</div>
		<div>
			<div>Last Name:</div><input ng-model="user.last_name" type="text" name="lname" maxlength="60" required>
		</div>
		<div>
			<div>Email:</div><input ng-model="user.email" type="email" name="email" placeholder="{{ user.email }}">
		</div>
	</div>
	<div class="modal-footer">
    	<button class="btn btn-primary">Save</button>
    	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</form>